@model BQC.ViewModels.ChooseTradeContractorSectionViewModel
@using BQC.Enums
@using BQC.Models

@{
    ViewBag.Title = "Choose Section";
}

<style>
    #sections_wrapper {
        width: 100%;
    }
</style>

@Html.Partial("~/Views/Shared/_BreadcrumbsAndSitePlotDropdown.cshtml", Model.SitePlotInfo)

<div class="">
    <h1>Section Selection</h1>
    <p>
        Click on a table row below to proceed to the checklist page.
    </p>
    <div class="grey-border-container">
        <div class="form-inline">
            <label for="#role-name">Your Role</label>
            <input class="form-control ml-3 " type="text" disabled="disabled" value="@Model.RoleNameEnum" />
        </div>

        <div class="key-div mt-4">
            <div class="key-container">
                <div class="key key-border-left-blue"></div><span>Ready to complete</span>
            </div>
            <div class="key-container">
                <div class="key key-border-left-green"></div><span>Completed</span>
            </div>
            <div class="key-container">
                <div class="key key-border-left-grey"></div><span>Not ready to complete</span>
            </div>
        </div>

        <div class="row col-12">
            <table id="sections" class="table table-hover w-100" style="cursor:pointer">
                <thead>
                    <tr style="background-color:#F9FAFB;">
                        <th>Section Name</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        var table = $('#sections').DataTable({
            'ajax': {
                'url': '@Html.Raw(@Url.Action("GetTradeContractorSections", "Checklist", new { @PlotID = Model.SitePlotInfo.PlotInfo.PlotID }))',
                'type': 'GET',
                'dataType': 'json',
                'contentType': 'application/json; charset=utf-8'
            },
            'aLengthMenu': [
                [10, 25, 50, 100, 200, -1],
                [10, 25, 50, 100, 200, "All"]
            ],
            'iDisplayLength': 10,
            'deferRender': 'true',
            'columns': [
                { 'data': 'FullSectionNameString' },
            ],
            'fnRowCallback': function (row, data, displayIndex) {
                if (data.Status == @((int)StatusOfTradeContractorSubSection.AwaitingResponseFromStaff) || data.Status == @((int)StatusOfTradeContractorSubSection.SubSectionDependenciesIncompleted))
                {
                    $(row).addClass('grey-table-colour-coding');
                }
                else if (data.Status == @((int)StatusOfTradeContractorSubSection.AmendmentByTradeContractorNeeded) || data.Status == @((int)StatusOfTradeContractorSubSection.IncompleteByTradeContractor))
                {
                    $(row).addClass('blue-table-colour-coding');
                }
                else if (data.Status == @((int)StatusOfTradeContractorSubSection.CompletedAndApprovedByStaffAndPaymentAuthorised) || data.Status == @((int)StatusOfTradeContractorSubSection.CompletedAndApprovedByStaffButPaymentNotAuthorised)) {
                    $(row).addClass('green-table-colour-coding');
                }
            },
            'order': [0, 'asc'],
            "bLengthChange": false,
            "responsive": true
        });

        $('#sections tbody').on('click', 'tr', function () {
            var sectionID = table.row(this).data().SectionID;
            var link = '@Url.Action("LoadChecklist", "Checklist", new { @plotId = Model.SitePlotInfo.PlotInfo.EncryptedPlotID, @SectionID = "_sectionID" })';
            link = link.replace("_sectionID", sectionID);
            link = replaceAmpersands(link);
            window.location.href = link;
        });
    });

     $('.breadcrumb').html(
        '<li class="breadcrumb-item"> <a href="@Url.Action("ChooseSite","Sites")">Sites</a></li >' +
         '<li class="breadcrumb-item"><a href="@Url.Action("ChoosePlots","Plots", new { SiteID = Model.SitePlotInfo.SiteInfo.SiteID})">Plots</a></li >' +
         '<li class="breadcrumb-item active"><a>Sections</a></li >' +
        '<li class="breadcrumb-item faded"><a href="#">Checklist</a></li>'
    );
</script>
